<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=ADMINFILM\SQLEXPRESS;Initial Catalog=FingerPrintSystem;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;Connect Timeout=60;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
