USE [master]
GO
/****** Object:  Database [vt]    Script Date: 18.4.2015 18:10:50 ******/
CREATE DATABASE [vt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\vt.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'vt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\vt_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vt]
GO
/****** Object:  Table [dbo].[Haritalar]    Script Date: 18.4.2015 18:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Haritalar](
	[HaritaId] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](max) NULL,
	[x] [nvarchar](max) NULL,
	[y] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Haritalar] PRIMARY KEY CLUSTERED 
(
	[HaritaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
